body{
    width: 100vw;
    height: 100vh;

    background-color: #f0f0f0
}

header{
    width: 100%;
    height: 104px;

    font-family: Sandoll GogoRound;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

    border-bottom: solid 1px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>h1{
    cursor: pointer;
}

header>div{
    width: 10%;
    text-align: center;
}


img{
    width: 36px;
    height: 36px;
    cursor: pointer;
    /* text-align: center; */
}

header>h1{
    font-family: Sandoll GogoRound;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.dropdown-menu {
    position: absolute; /* 부모 기준으로 배치 */
    top: 40px; /* 헤더 바로 아래 */
    /* right: 20px; 오른쪽 정렬 */
    width: 120px; /* 드롭다운 너비 */
    background-color: #fff; /* 배경 흰색 */
    border: 1px solid #ccc; /* 경계선 */
    border-radius: 4px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 10; /* 헤더 위로 올라오도록 */
    display: none;

    background-color: #D9D9D9;

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* 드롭다운 메뉴 항목 */
.dropdown-menu li {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 10px 0;
    cursor: pointer; /* 클릭 가능 */
}

.dropdown-menu li:hover {
    background-color: #e9e9e9; /* 호버 시 배경색 */
}

/* 드롭다운 메뉴 보이기 */
.dropdown-menu.visible {
    display: block;
}

main{
    width: 100%;
    /* height: 100%; */
    height: calc(100vh - 104px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainWrap{
    width: 60%;
    height: 60%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainWrap > h2{
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
    text-align: center;
}

.mainWrap--profileBox{
    width:355px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin-top: 30px;
    
}

#profileImg--Box{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileImg{
    width: 149px;
    height: 149px;
    
    filter:brightness(0.8);
}

#profileChangeBtn{
    width: 52px;
    height: 27px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;

    box-sizing: border-box;
    border-radius: 25px;
    border: solid 1px;
    border-color: #fff;

    background-color: transparent;
    color: #fff;

    cursor: pointer;
}

.mainWrap--loginForm{
    box-sizing: border-box;
    margin-top: 30px;
}

.mainWrap--loginForm--formItems{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 7px;
}

.mainWrap--loginForm--formItems>label{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}
.mainWrap--loginForm--formItems>p{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}

.mainWrap--loginForm--formItems>input{
    width: 355px;
    height: 33px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;

    background-color: #F4F5F7;
}

.helper-text{
    width: 100%;
    height: 15px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;

    color: #FF0000;
}

.mainWrap--loginForm--formItems > button{
    width: 355px;
    height: 33px;
    
    border: none;
    border-radius: 4px;

    background-color: #ACA0EB;
    color: #FFFFFF;

    cursor: pointer;
}

#withdrawlBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;

    box-sizing: border-box;
}

#withdrawlBox > button
{
    width : 100%;

    border: none;
    cursor: pointer;
}

.completeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#completeBox--btn{
    width: 102px;
    height: 46px;
    top: 832px;
    left: 915px;
    padding: 12px 20px 12px 20px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;

    background-color: #ACA0EB;
    color: #FFF;

    box-sizing: border-box;
    margin-top: 50px;
    border: none;
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* 다른 요소들 위에 표시되도록 높은 z-index 설정 */
    position: fixed;
    
    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    width: 408px;
    height: 242px;
    gap: 22px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
}

.modalContent--header{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modalContent--body{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modalContent--btnBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.modalContent--btnBox > button{
    width: 127px;
    height: 44px;
    gap: 0px;
    border-radius: 12px;

    box-sizing: border-box;
    border: none;
}

.modalContent--cancelBtn{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background-color: #242424;
    color: #FFFFFF;
}

.modalContent--checkBtn{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background-color: #C4A5FA;
    color: #000000;
}

/* 토스트 메시지 스타일 */
.toast {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

/* 토스트 메시지가 보이는 상태 */
.toast.show {
    opacity: 1;
    visibility: visible;
}