body{
    width: 100vw;
    height: 100vh;

    background-color: #f0f0f0
}

header{
    width: 100%;
    height: 104px;

    font-family: Sandoll GogoRound;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

    border-bottom: solid 1px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>div{
    width: 10%;
    text-align: center;
}


img{
    width: 36px;
    height: 36px;
    /* text-align: center; */
}

main{
    width: 100%;
    /* height: calc(100vh - 104px); */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainWrap{
    width: 70%;
    height: 95%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.mainWrap--header{
    width: 592px;

    box-sizing: border-box;
    border-bottom: solid 1px;
}

.mainWrap--header > h2{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
}

#writer{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
}

#time{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: right;
}

.mainWrap--header--secondBox{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainWrap--header--secondBox--info{
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.mainWrap--header--secondBox--info > span{
    display: inline-block;
}

.optionBtn{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: center;

    background-color:transparent;

    border-radius: 4px;
    border-color: #ACA0EB;
}

.mainWrap--picture{
    width: 544px;
    height: 306px;

    background-color: #D9D9D9;
}

.mainWrap--content{
    width: 544px;

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    text-align: left;

}

.mainWrap--countBox{
    width: 392px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainWrap--countBox--content{
    width: 116px;
    height: 77px;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:5px;

    box-sizing: border-box;
    border: solid 1px;
    border-radius: 16px;
    opacity: 0px;

}

.mainWrap--commentBox{
    width: 592px;
    height: 169px;

    background-color: #fff;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border-radius: 16px;
}

.mainWrap--commentBox > textarea{
    width: 100%;
    height: 60%;

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    text-align: left;

    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-bottom: solid 1px;
    border-radius: 16px 16px 0px 0px;
    resize: none;

    background-color: #fff;
}

.mainWrap--commentBox--btnBox{
    height: 40%;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.mainWrap--commentBox--btnBox > button{
    width: 138px;
    height: 39px;
    
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    text-align: center;

    box-sizing: border-box;
    border: none;
    border-radius: 16px;

    background-color: #ACA0EB;
    color: #fff;

}

.mainWrap--historyBox{
    width: 544px;   

    display: flex;
    flex-direction: row;
}

.mainWrap--historyBox--leftBox{
    width: 70%;
}

.mainWrap--historyBox--leftBox--top{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

.mainWrap--historyBox--leftBox--bottom > p{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    text-align: left;

    box-sizing: border-box;
    padding-left: 36px;
}

.mainWrap--historyBox--rightBox{
    width: 30%;

    gap: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
